version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: mongo_db
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=secret
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - backend_net

  mongo-express:
    image: mongo-express:latest
    container_name: mongo_admin
    restart: always
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
      - ME_CONFIG_MONGODB_PORT=27017
      - ME_CONFIG_MONGODB_ADMINUSERNAME=admin
      - ME_CONFIG_MONGODB_ADMINPASSWORD=secret
      - ME_CONFIG_BASICAUTH_USERNAME=joao
      - ME_CONFIG_BASICAUTH_PASSWORD=1234
    depends_on:
      - mongo
    networks:
      - backend_net

volumes:
  mongo_data:

networks:
  backend_net:
    driver: bridge
